<div class="head">
  <h4>Here is our employee list!</h4>
  <div class="table-div">
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Designation</th>
            <th scope="col">Experience</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.email}}</td>
          </tr>
        </tbody>
      </table>   
      <div class="add-emp">
        <h6>Click the button below to add a new employee</h6>
        <button class="btn btn-primary" type="submit" (click)="addEmployee()">Add employee</button>
       <!-- <button class="btn btn-secondary" type="submit" (click)="viewEmployees()">View Employees</button>   -->
      </div>
</div>
 
</div>